﻿<div class="content-wrapper" style="float: left;">
    @Html.ActionLink("Question 1", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) <br />
    @Html.ActionLink("Question 2", "Index", "Addition", new { area = "" }, new { @class = "navbar-brand" }) <br />
    @Html.ActionLink("Question 3", "Index", "Movement", new { area = "" }, new { @class = "navbar-brand" }) <br />
    @Html.ActionLink("Question 4", "Foo", "Bar", new { area = "" }, new { @class = "navbar-brand" }) <br />
    @Html.ActionLink("Question 5", "Index", "NextPrime", new { area = "" }, new { @class = "navbar-brand" }) <br />
    @Html.ActionLink("Question 6", "Index", "Adblock", new { area = "" }, new { @class = "navbar-brand" }) <br />
    @Html.ActionLink("Question 7", "Index", "Parallax", new { area = "" }, new { @class = "navbar-brand" }) <br />
    @Html.ActionLink("Question 8", "Index", "ThreeDimensions", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("v2", "VersionTwo", "ThreeDimensions", new { area = "" }, new { @class = "navbar-brand" }) <br />
    @Html.ActionLink("Question 9", "Index", "Combined", new { area = "" }, new { @class = "navbar-brand" }) <br />
</div>

