html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background: #fff;
}

.hero-image {
      width: 100%;
      height: 100vh;
      position: absolute;
      background: url(hero.png) no-repeat 50% 50%;
      background-size: cover;
}

.parallax-el {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(upper.png) no-repeat 50% 50%;
    background-size: cover;
    top: 20%;
}

.parallax-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(background.png) no-repeat 50% 50%;
    background-size: cover;
}

.text {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 32%;
      background: url(text.png) no-repeat 50% 50%;
      background-size: cover;
      mix-blend-mode: overlay;
}

.clouds {
      position: absolute;
      width: 100%;
      height: 100vh;
      background: url(clouds.png) no-repeat 50% 50%;
      background-size: cover;
}

.whitespace {
      width: 100%;
      height: 100vh;
}

.content {
      width: 80%;
      margin: 0 auto;
      padding: 80px 0;
      font-family: Helvetica;
}

h1 {
      font-size: 42px;
      font-family: Anton;
      text-transform: uppercase;
      text-align: center;
}

p {
      line-height: 40px;
      text-align: justify;
}
