﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset=UTF-8 />
    <link rel="stylesheet" type="text/css" href="~/Content/ThreeDimensions/styles.css" />
</head>
<body>
    <script src="~/Scripts/ThreeDimensions/three.min.js"></script>
    <script src="~/Scripts/ThreeDimensions/OrbitControls.js"></script>
    <script>
        let scene, camera, renderer;
        function init() {
            scene = new THREE.Scene();
            camera = new THREE.PerspectiveCamera(55, window.innerWidth / window.innerHeight, 45, 30000);
            camera.position.set(-1000, 1000, -1000);
            renderer = new THREE.WebGLRenderer({ antialias: true });
            renderer.setSize(window.innerWidth, window.innerHeight);
            document.body.appendChild(renderer.domElement);
            let controls = new THREE.OrbitControls(camera, renderer.domElement);
            controls.addEventListener('change', renderer);
            controls.minDistance = 500;
            controls.maxDistance = 1500;
            var origin = window.location.origin = '/Content/ThreeDimensions/';
            let materialArray = [];
            let texture_ft = new THREE.TextureLoader().load(origin + 'arid2_ft.jpg');
            let texture_bk = new THREE.TextureLoader().load(origin + 'arid2_bk.jpg');
            let texture_up = new THREE.TextureLoader().load(origin + 'arid2_up.jpg');
            let texture_dn = new THREE.TextureLoader().load(origin + 'arid2_dn.jpg');
            let texture_rt = new THREE.TextureLoader().load(origin + 'arid2_rt.jpg');
            let texture_lf = new THREE.TextureLoader().load(origin + 'arid2_lf.jpg');

            materialArray.push(new THREE.MeshBasicMaterial({ map: texture_ft }));
            materialArray.push(new THREE.MeshBasicMaterial({ map: texture_bk }));
            materialArray.push(new THREE.MeshBasicMaterial({ map: texture_up }));
            materialArray.push(new THREE.MeshBasicMaterial({ map: texture_dn }));
            materialArray.push(new THREE.MeshBasicMaterial({ map: texture_rt }));
            materialArray.push(new THREE.MeshBasicMaterial({ map: texture_lf }));

            for (let i = 0; i < 6; i++)
                materialArray[i].side = THREE.BackSide;
            let skyboxGeo = new THREE.BoxGeometry(1000, 1000, 1000);
            let skybox = new THREE.Mesh(skyboxGeo, materialArray);
            scene.add(skybox);
            animate();
        }
        function animate() {
            renderer.render(scene, camera);
            requestAnimationFrame(animate);
        }
        init();
    </script>
</body>
</html>
