﻿@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parallax Effect</title>
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <div class="rellax parallax-bg"></div>
    <div class="hero-image"  data-rellax-speed="2"></div>
    <div class="rellax parallax-el" data-rellax-speed="5"></div>
    <div class="rellax text" data-rellax-speed="10"></div>
    <div class="rellax clouds" data-rellax-speed="8"></div>
    <div class="whitespace"></div>
    <div class="content">
        <h1>5 layers + works on mobile.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quas, nemo eligendi, sequi dolores perspiciatis nobis libero cumque consequatur odit obcaecati excepturi deleniti veniam aliquid repellendus distinctio reprehenderit, nam provident reiciendis repellat itaque placeat. Nisi dolorem vel delectus aliquid rem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus laboriosam eveniet excepturi, quis veritatis quasi nulla veniam mollitia. Id velit alias, accusamus. Sit similique, consectetur mollitia sint, sequi porro rerum commodi aliquam eaque dolorum natus doloribus? Minus eaque laborum in fugiat natus delectus assumenda. Mollitia minima necessitatibus iste ipsam quaerat! Adipisci doloremque in nisi quos voluptatibus praesentium, beatae molestiae consequuntur aspernatur! Ratione, nobis, maiores. Ratione consectetur ipsum laborum cupiditate dolorem voluptas provident obcaecati eaque qui amet nihil reprehenderit corporis, consequuntur, atque aliquid sunt, minima debitis sequi nisi. Dolorem iste quisquam id voluptatem, vero quasi similique officiis sint nisi rerum inventore.</p>
    </div>
    <script src="~/Scripts/rellax.min.js"></script>
    <script type="text/javascript">
        var rellax = new Rellax('.rellax');
    </script>
</body>
</html>