﻿@model WebApplication2.ViewModel.Movement.UserIdViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="setUsername">
</h2>
<div id="shownPositions">
</div>
<div id="localPosition">
</div>
@section Scripts {
    <script>
        var intervalID = window.setInterval(myCallback, 900000);
        var currentId = @Html.Raw(Json.Encode(Model.Id));
        var currentPos = null;

        function myCallback() {
            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: "/Api/User",
                    data: "{}",
                    success: function (data) {
                        var s = '';

                        if (currentPos == null) {
                            
                            var t = 'Welcome, ';
                            for (var i = 0; i < data.length; i++) {
                                if (data[i].Id == currentId) {
                                    currentPos = data[i];
                                    t += data[i].Username;
                                }
                            }
                            $('#setUsername').html(t)
                        }

                        for (var i = 0; i < data.length; i++) {
                            s += data[i].Username + ': (' + data[i].PositionX + ', ' + data[i].PositionY + ')<br>';
                        }
                        $("#shownPositions").html(s);
                    }
                });
            });
        }

        $(document).keydown(function (event) {
            console.log(currentId);
            var changed = false;
            if (event.keyCode == 37) {
                currentPos.PositionX--;
                changed = true;
            }
            if (event.keyCode == 39) {
                currentPos.PositionX++;
                changed = true;
            }
            if (event.keyCode == 38) {
                currentPos.PositionY++;
                changed = true;
            }
            if (event.keyCode == 40) {
                currentPos.PositionY--;
                changed = true;
            }

            if (changed) {
                $.ajax({
                    type: "PUT",
                    url: "/Api/User",
                    data: {
                        Id: currentId,
                        X: currentPos.PositionX,
                        Y: currentPos.PositionY
                    }
                })
            }
        });
    </script>
}