﻿@{
    ViewBag.Title = "Combined";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parallax Effect</title>
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <div class="rellax parallax-bg"></div>
    <div class="hero-image" data-rellax-speed="2"></div>
    <div class="rellax parallax-el" data-rellax-speed="5"></div>
    <div class="rellax text" data-rellax-speed="10"></div>
    <div class="rellax clouds" data-rellax-speed="8"></div>
    <div class="whitespace"></div>
    <div class="content">
        <h1>Combined</h1>
        <p>
            @Html.Action("Index", "NextPrime", new { })
            @Html.Action("Index", "Adblock", new { })
            @Html.Action("Index", "Addition", new { })
        </p>
    </div>
    <script src="~/Scripts/rellax.min.js"></script>
    <script type="text/javascript">
        var rellax = new Rellax('.rellax');
    </script>
</body>
</html>
