﻿
@{
    ViewBag.Title = "AdBlock problem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdBlock problem</h2>

<div id="adBlockText">
</div>
<input type="submit" id="noThanksBtn" value="Don't show this again" style="display: none;">

@section Scripts {
    <script>
        var test = document.createElement('div');
        test.innerHTML = '&nbsp;';
        test.className = 'adsbox';
        document.body.appendChild(test);
        window.setTimeout(function () {
            var cookie = getCookie("adblockwarning");
            if (test.offsetHeight !== 0) {
                $('#adBlockText').html("Thank you for not using AdBlock.")
            } else if (cookie != null) {
                $('#adBlockText').html('Not reminding you about ad block.')
            } else if (test.offsetHeight === 0) {
                $('#adBlockText').html('Please turn ad block off.')
                document.getElementById("noThanksBtn").style.display = "block";
            }
            test.remove();
        }, 100);

        $('#noThanksBtn').click(function (e) {
            e.preventDefault();
            document.getElementById("noThanksBtn").style.display = "none";
            $('#adBlockText').html("Ok no worries we won't show this again.")
            setCookie("adblockwarning", "true", 6000);
        });
        function setCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
        }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
    </script>
}