﻿
@{
    ViewBag.Title = "Find next prime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Find next prime</h2>

Enter a number:
<input type="number" id="number" name="number">
<input type="submit" id="submit" value="Find next prime"> <br>
<div id="nextPrime" >
</div>


@section Scripts {
    <script>
        $('#submit').click(function (e) {
            e.preventDefault();
            var a = document.getElementById('number').value;
            $.ajax({
                url: "/Api/Prime",
                type: "POST",
                data: {
                    Number: a
                },
                success: function (data) {
                    var s = 'Next prime is: ' + data;
                    $('#nextPrime').html(s)
                }
            });
        });
    </script>
}


